<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
	<Propertie>	
		<Property name="logNm">mercury-batch</Property>
		<Property name="layoutPattern">%clr{%d{yyyy-MM-dd HH:mm:ss.SSS}}{faint} %clr{%5p} %clr{${sys:PID}}{magenta} %clr{---}{faint} %clr{[%15.15t]}{faint} %clr{%-40.40c{1.}}{cyan} (%4line) %clr{:}{faint} %m%n%xwEx</Property>
	</Propertie>
	<Appenders>
		<!--  <Console name="Console" target="SYSTEM_OUT" follow="true">
        	<PatternLayout pattern="${layoutPattern}"/>
        </Console>
        <File name="File" fileName="D:\mercury\logs\mercury-batch.log" append="true">
	   		<PatternLayout pattern="${layoutPattern}"/>
	  	</File> -->
	  	<RollingFile name="File" fileName="logs/mercury-batch.log" filePattern="logs/${logNm}_%d{yyyy-MM-dd}_%i.log.gz">
            <PatternLayout>
                <Pattern>${layoutPattern}</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="200KB"/>
                <TimeBasedTriggeringPolicy interval="1"/>
            </Policies>
            <DefaultRolloverStrategy max="10" fileIndex="min"/>
        </RollingFile>
	</Appenders>
	<Loggers>
		<Root level="DEBUG">
			<!-- <AppenderRef ref="Console" /> -->
		    <AppenderRef ref="File" />
		</Root>
		<Logger name="com.mercury.common.filter.LogFilter" level="DEBUG" additivity="true">
			<!-- <AppenderRef ref="Console" /> -->
		    <AppenderRef ref="File" />
		</Logger>
	</Loggers>
</Configuration>